doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login Page
        link(rel="stylesheet", href="/css/styles.css")  
    body 
        .login-container
            h1 Login Page 
            form(action="/admin/login" method="POST")
                .form-element
                    label(for="user") Username: 
                    input(type="text" id="user" name="user" required)
                .form-element
                    label(for="pass") Password: 
                    input(type="password" id="pass" name="pass" required)
                .form-element
                    button(type="submit" class="btn btn-orange") Login
                p 
                    | Don't have an account? 
                    a(href="/admin/register") Register now
