doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Register
        link(rel="stylesheet" href="/css/styles.css")
    body 
        .login-container
            h1 Registration Form 
            form(action="/admin/register" method="POST")
                .form-element
                    label(for="user") Username: 
                    input(type="text" id="user" name="user" required)
                .form-element
                    label(for="pass") Password: 
                    input(type="password" id="pass" name="pass" required)
                .form-element
                    button(type="submit" class="btn btn-orange") Register
                p 
                    | Already have an account? 
                    a(href="/admin/login") Login now
