header#header
    nav.navbar.navbar-expand-lg
        .container
            a.navbar-brand(href="/" class="custom_header") Digna Patel
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav.ms-auto
                    li.nav-item
                        a.nav-link(href="/projects/list" class="custom_header") Projects
                    li.nav-item
                        a.nav-link(href="/experiences/list" class="custom_header") Experience
                    li.nav-item
                        a.nav-link(href="/admin/logout" class="btn_logout") Logout
